version: '3.8'

services:
  db:
    image: mysql:8
    container_name: meu_banco
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'Manuela2006$'
      MYSQL_DATABASE: sistemarad
    ports:
      - "3307:3306"  
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./src/backend
    container_name: meu_backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db         
      DB_USER: root
      DB_PASSWORD: Manuela2006$
      DB_NAME: sistemarad
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./src/frontend
    container_name: meu_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data:
